__pycache__/
*.py[cod]
*$py.class
/project
/test_data_scientist
test.ipynb
*.txt
*.tar
*.pdf
.vscode
model_build.ipynb
data_visu.ipynb
*.pth
*.pptx
model_eval
data_annual_train.json
data_annual_val.json
train_data.json
val_data.json
data.json